{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<br>
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}

        <h2 class="page-title">Post a blog...</h2>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data" action="{% url 'post_blog' %}">
                {% csrf_token %}
                {{ UserPost_form | crispy }}
                <br>
                <p>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </p>
                
            </form>
        </div>
        {% else %}
        <h3>Want to post a blog..?</h3>
        <p>
            Head to our sign up page <a href="{% url 'account_signup' %}">here.</a>
            <br>
            Or if you are a registered user dont forget to <a href="{% url 'account_login' %}">login.</a>
        </p>
        {% endif %}

    </div>
</div>

{% endblock %}