{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}

        <h2 class="page-title">Post a blog...</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'post_blog' %}">
            {% csrf_token %}
            <div class="form-group">
                <p>
                    <label for="blog_title">Title of Post:</label>
                    <input class="form-control" type="text" id="blog_title" name="title">
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="blog_content">Blog Content:</label>
                    <textarea class="form-control" id="blog_content" name="content" rows="10"></textarea>
                </p>
            </div>
            <div class="form-group">
                <label for="add_image_file">Add an image:</label>
                <input type="file" class="form-control-file" id="add_image_file" name="featured_image">
              </div>
            <div class="form-group">
                <p>
                    <button type="submit" class="btn btn-info form-control">Submit</button>
                </p>

            </div>

        </form>
        {% else %}
        <h3>Want to post a blog..?</h3>
        <p>
            Head to our sign up page <a href="{% url 'account_signup' %}">here.</a>
            <br>
            Or if you are a registered user dont forget to <a href="{% url 'account_login' %}">login.</a>
        </p>
        {% endif %}

    </div>
</div>

{% endblock %}